[2016-03-15 13:49] jespersm opened #3 "Newline handling in multiline strings behaves differently from Antlr2 parser on Windows"
Newline handling in multiline strings behaves differently from Antlr2 parser on Windows.
MainTest for Literals_Strings_Issue36_3.groovy fails in Windows, but runs fine on Windows, so some kind of newline normalization is either taking place, or NOT taking place, which is different from how it works in the old parser.

[2016-03-15 13:56] jespersm opened #4 "Support full range of Java identifiers"
Java allows all sorts of Unicode letter classes in identifiers --  this is yet unsupported in the Antlr4 parser

[2016-03-15 15:17] daniellansun commented on #4
I created a PR(Allow unicode identifiers #5) to fix it.

[2016-03-15 15:29] jespersm commented on #4
I forgot to mention: We need the same for GSTRING_ID and GSTRING_PATH_PART

[2016-03-15 16:16] jespersm opened #6 "Add "JavaDoc" as metadata to types and members"
To make it easier to generate Groovydoc, the parser should collect JavaDoc-style comments and set them as metadata on the relevant AST nodes, as discussed in http://mail-archives.apache.org/mod_mbox/groovy-dev/201603.mbox/%3CCAJ2HCd_dGEDj5tLh5oQ9Bqbv0hfu3y8L%2BqHCumhk9NdFyjaZOA%40mail.gmail.com%3E

[2016-03-15 16:22] jespersm opened #7 "Proper unescaping of string literals"
String literals are not correctly unescaped by the scanner or ASTBuilder.

[2016-03-16 11:32] daniellansun commented on #4
GSTRING_ID and GSTRING_PATH_PART support Unicode characters now.

[2016-03-16 12:20] jespersm commented on #4
Closed with #5

[2016-03-16 12:20] #4 closed, assigned to nobody

[2016-03-19 07:32] danielsun1106 commented on #3
I've fixed it and I'll push commits later.

[2016-03-19 07:45] daniellansun commented on #3
commits pushed: https://github.com/jespersm/groovy/pull/8/commits/3c3338a3938be6ae6cd2ab6abe571d70a47322a3

[2016-03-19 08:11] danielsun1106 commented on #7
I'm investigating the issue.

[2016-03-19 08:42] daniellansun commented on #3
one more test case added: https://github.com/jespersm/groovy/commit/62e79f0fd5cf3d29f6912446f8113b8f2982764f

[2016-03-19 09:14] daniellansun commented on #7
commits pushed: https://github.com/jespersm/groovy/pull/8/commits/c43b9a43e816669c42646e57713271ef567bfd82

[2016-03-19 15:16] daniellansun commented on #7
more commits pushed: https://github.com/jespersm/groovy/pull/8/commits/3a8e63748c859456ae42931a76dba96828314422

[2016-03-19 15:56] daniellansun opened #9 "[GROOVY-7765]Dollar Slashy String in assert not working left hand side"
[code]

[2016-03-20 13:43] daniellansun opened #10 "Add the sample codes from "Groovy in Action" as test cases"
Groovy in Action(2nd Edition) is the most definitive book for Groovy programming language. The sample codes from the book covers almost whole Groovy syntax, so when the new parser can handle all of the sample codes properly, it is mature enough to release as a beta version.

[code]

[2016-03-21 00:36] jespersm commented on #7
Is this complete now, then?

[2016-03-21 00:36] #3 closed, assigned to nobody

[2016-03-21 00:38] jespersm commented on #10
This is interesting, but we should be very careful with the licensing, to ensure clean Apache IP conformance.

[2016-03-21 01:21] daniellansun commented on #7
Currently unicode escapes, standard escapes and octal escapes can be unescaped properly, so I think the issue is fixed.

在 Jesper Steen Møller notifications@github.com，2016年3月21日 08:36写道：

Is this complete now, then?

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHubhttps://github.com/jespersm/groovy/issues/7#issuecomment-199070480

[2016-03-21 01:26] daniellansun commented on #6
We can achieve it after the antlr4 parser can handle the whole syntax as the antlr2 done.

[2016-03-21 01:26] danielsun1106 commented on #6
We can achieve it after the antlr4 parser can handle the whole syntax as the antlr2 done.

[2016-03-21 01:28] daniellansun commented on #10
I agree with you.

[2016-03-21 12:03] jespersm opened #12 "GString-closure not supported"
A GString may contain a closure as one of its expressions, written in a particular style, like

`"GString ${ -> heavy() }"`

Example from the console:

`println "${ -> println "1 - lazy" ; 1 } - ${ println "2 - eager" ; 2 }"
`
Gives error:

[2016-03-21 12:12] jespersm opened #13 "tuples are not supported in declarations and assignments"
For example

`def (a, b) = [3, 4]`

gives

and
`(c,d) = [5,6]`
gives

[2016-03-21 16:25] daniellansun commented on #7
Any more test cases should be covered?

[2016-03-21 23:32] danielsun1106 commented on #12
I'm trying to fix it.

在 Jesper Steen Møller <notifications@github.com>，2016年3月21日 20:03写道：

A GString may contain a closure as one of its expressions, written in a particular style, like

"GString ${ -> heavy() }"

Example from the console:

println "${ -> println "1 - lazy" ; 1 } - ${ println "2 - eager" ; 2 }"

Gives error:

1 compilation error:

no viable alternative at input 'println"${->' at

[2016-03-24 01:32] daniellansun commented on #12
The statements are not supported in the GString-closure, I'll fix them together.

[2016-03-25 14:48] daniellansun commented on #12
The issue is fixed.
The related PR: https://github.com/jespersm/groovy/pull/14

[2016-03-26 08:04] daniellansun opened #15 "The precedence of ternary expression is wrong"
[code]

[2016-03-27 13:57] daniellansun commented on #15
The issue is fixed.
The related commits are here: https://github.com/jespersm/groovy/pull/14/commits/3358a36a842d5a96289ecb68d3b49b2abcfd6db6

[2016-03-27 22:02] #12 closed, assigned to nobody

[2016-03-27 22:02] #15 closed, assigned to nobody

[2016-03-27 22:03] #7 closed, assigned to nobody

[2016-03-28 00:18] daniellansun commented on #10
Guillaume replied:
"Dierk told me the source code from Groovy in Action 2nd edition is actually Apache licensed, and can be found here on Github:
https://github.com/Dierk/GroovyInAction

So you can reuse it for the new parser.

Let's be sure to keep the attribution, to remember where this code is coming from.

Guillaume"

[2016-03-29 12:59] danielsun1106 commented on #13
I'll try to fix it.

[2016-03-30 14:25] daniellansun commented on #13
The issue is fixed: https://github.com/jespersm/groovy/pull/17

[2016-03-30 15:28] daniellansun opened #18 "Fail to parse the call expression when the callee is not a path expression"
[code]

[2016-03-31 07:28] jespersm commented on #18
I'm thinking we should combine the two rules for calls, since "obj.meth(arg) meth arg" is also allowed in Groovy.

I have a stash which "mostly works", I'll examine that.

[2016-03-31 11:02] daniellansun commented on #18
Yep. The call expression and method call expression are very similar. Combining the two rules will be good.

[2016-03-31 14:06] daniellansun commented on #18
Listing_D_05_GPath.groovy from GinA2 is a good test case for call expression:
 https://github.com/Dierk/GroovyInAction/blob/master/listings/appD/Listing_D_05_GPath.groovy

[2016-04-01 15:05] daniellansun opened #19 "tricky syntheticPublic of member method in class"
"getTitle" MethodNode.syntheticPublic is true when using antlr4 parser, but syntheticPublic is false when using old parser.
I think it should be true because the "public" is truely synthetic. Any thoughts?

[code]

[2016-04-02 09:01] daniellansun commented on #19
The issue is fixed: https://github.com/jespersm/groovy/pull/17/commits/8aefd8c6725d66267a324c268530284b95573aa4

[2016-04-03 09:45] daniellansun opened #20 "Support lamda expression like Java8"
Lamda expression is very similar with closure. We can translate lamda to closure in the ASTBuilder.
The new feature will be added when the new parser can handle current  syntax of Groovy and Groovy dev team approve it.
Reference: http://docs.oracle.com/javase/tutorial/java/javaOO/lambdaexpressions.html#syntax

[2016-04-03 14:33] blackdrag commented on #20
parsing the lambda into a ClosureExpression is a good idea. +1

[2016-04-03 15:58] daniellansun commented on #20
We can also add some property(e.g. syntheticLamda) for ClosureExpression to indicate that the closure is a lamda expression actually.

[2016-04-04 13:35] daniellansun opened #21 "Support trait"
[code]

[2016-04-04 13:54] #19 closed, assigned to nobody

[2016-04-04 13:54] #13 closed, assigned to nobody

[2016-04-04 14:26] daniellansun opened #22 "parenthesis-less method call and method declaration are ambiguous"
[code]

related issue: https://github.com/jespersm/groovy/issues/18

[2016-04-04 16:43] daniellansun commented on #22
Test cases from GinA2 pass.

[2016-04-04 16:43] #22 closed, assigned to nobody

[2016-04-04 16:43] danielsun1106 commented on #22
Test cases from GinA2 pass.

[2016-04-04 16:47] danielsun1106 commented on #21
I'll try to fix it later.

[2016-04-04 16:47] danielsun1106 commented on #21
I'll try to fix it later.

[2016-04-04 16:51] daniellansun commented on #18
@jespersm looking forward to your stashed fix :-)

[2016-04-04 16:51] danielsun1106 commented on #18
@jespersm looking forward to your stashed fix :-)

[2016-04-05 00:02] daniellansun commented on #9
The dollar slash string is supported now. We can verify the issue by executing the sample code(not comparing AST).

[2016-04-05 07:57] blackdrag commented on #18
+1 on combining the rules if possible and sensible

[2016-04-05 12:36] daniellansun commented on #21
I've fixed it, but the commits failed to push because of repository maintainence.

[code]

[2016-04-05 16:07] daniellansun commented on #9
I've fixed it. The related commits will be pushed later because repository is still under maintainence.

[2016-04-06 11:04] #21 closed, assigned to nobody

[2016-04-06 11:04] #9 closed, assigned to nobody

[2016-04-07 10:08] daniellansun opened #29 "Refactor ASTBuilder"

[2016-04-07 23:49] daniellansun opened #30 "compilationUnit does not support mixing class/enum declaration and script part"
Currently we have to declare class/enum first then write the script part. The following code can not be parsed:

assert 1==1
enum E {}

[2016-04-07 23:57] daniellansun opened #31 "enum constants can not have arguments"
[code]

[2016-04-08 04:00] daniellansun opened #32 "Refactor class and enum declaration"
class and enum declaration have many common code, which we should extract for better maintainability.

[2016-04-08 09:58] jespersm commented on #30
Fixed by 653e61d

[2016-04-08 09:58] #30 closed, assigned to nobody

[2016-04-08 10:03] jespersm commented on #18
It turns out Listing_D_05_GPath failed due to a different bug, which I fixed in d7c5d815f8753b3e3116cb067389e5f746f3ab3c

[2016-04-08 10:04] jespersm commented on #18
Also ['a','b','c'].inject('x') {
    result, item -> item + result + item
}

is not really a command call, but a "trailing closure argument" (after a normal argument list "('x')"). That's a separate bug.

[2016-04-08 10:23] danielsun1106 commented on #31
I'll fix it later

[2016-04-08 10:49] daniellansun commented on #18
Yep. The related rule alt is call expression. The path expression in the alt can not handle the list contructor.

[2016-04-08 14:45] daniellansun commented on #32
Fixed by https://github.com/jespersm/groovy/commit/f7798a1d6e7ee8bfed67944e4d6c420ea2a26726

[2016-04-08 14:45] #32 closed, assigned to daniellansun

[2016-04-08 15:11] daniellansun opened #33 "Combine callExpression and methodCallExpression"
[code]

[2016-04-08 15:14] daniellansun commented on #33
@jespersm
Jesper, does your stashed fix work now?

[2016-04-09 08:48] danielsun1106 commented on #29
Statement parsing code refactored: https://github.com/jespersm/groovy/commit/5144176c4fdafc5b9b32feac1714dac0716194b2

[2016-04-09 09:39] jespersm commented on #29
I'm not sure I follow the way this is going - Basically class-per-grammar-rule, with dynamic class loading based on name?
As I see it, this is going to make refactoring harder, not easier.

[2016-04-09 10:47] daniellansun commented on #29
Currently just quite a little of refactoring is done. As you see, fine-grained management of rule processing is the target, which can help us separate concern points.
Yeah, it's a hard work but I will try my best to complete ;-)

[2016-04-09 17:27] jespersm commented on #33
Sadly, my stashed won't apply anymore, but I'm thinking we should eliminate methodCallExpression and just recognize callExpressions as such, and transform the AST from the property expression.

[2016-04-09 17:56] danielsun1106 commented on #29
expression and some other parsing code refactored: https://github.com/jespersm/groovy/commit/9cb656a9d34052178793ac8c009cc4283a17552e

BTW, the refactoring really need quite some work. The left rule parsing code will be refactored in the next commits.

[2016-04-10 05:55] daniellansun commented on #29
@jespersm
It seems that we have different opinions on the refactoring on ASTBuilder. In order to work on the same direction, I have reverted all the recfactoring. So it's not necessary to have the antlr4-no-refactor branch ;-)

[2016-04-10 06:24] daniellansun commented on #33
It does not matter. I'll try to fix it.

[2016-04-10 07:43] daniellansun commented on #31
Fixed by: https://github.com/jespersm/groovy/commit/d822083aa9a8f3882a2a821b0cb5a182054d7e98

[2016-04-10 07:43] #31 closed, assigned to daniellansun

[2016-04-10 09:35] jespersm commented on #29
Well, we should ideally ask the dev list for advice, since it's going to be maintained by many different people going forward.

[2016-04-10 09:39] daniellansun opened #34 "Synchronize the commits related to GROOVY-7312 from the upstream"
[code]

https://git-wip-us.apache.org/repos/asf?p=groovy.git;a=commitdiff;h=d74ee7daec0c03716f28f1667d5d73a7e0febaf9

[2016-04-10 09:41] daniellansun commented on #29
Yeah, I agree with you. There're a lot of other emergent tasks waiting us to complete ;-)

[2016-04-11 06:24] blackdrag commented on #29
is it possible to implement a visitor using the GroovyParser context classes? Such a visitor could be interesting for more than just building the AST. Then you could base the AST builder on that visitor... though it is more a converter than really a builder actually

[2016-04-11 10:16] daniellansun commented on #29
@blackdrag
Jochen, do you mean that we implement our own visitor based on the visitor generated by antlr4? If yes, we can clean the "instanceof" codes but our visitor is still very big...

[2016-04-11 13:29] jespersm commented on #29
@blackdrag Yes, Antlr4 supports generating a visitor and/or a listener from the grammar, and I'm not sure why @xSeagullx didn't go with those, but I think it was to keep the parser's context information free of the ASTNode types.
The listener approach would allow us to drop the parse tree while parsing, potentially reducing heap usage.

[2016-04-11 15:24] daniellansun commented on #33
Currently 94% test cases pass. The parenthesis-less syntax make the parser very confused...
I wish I could fix the 6 failed test cases.

[2016-04-11 17:00] blackdrag commented on #29
@jespersm in the current part, we have a visitor for the antlr part, it is used for the java2groovy tool for example. But otherwise it is not used much. What I had in mind is a visitor working with the antlr classes, a builder for the AST and an orchestring part, that is an implementation of that visitor, which uses the builder to produce the AST. That's kind of what AntlrParserPlugin does today

[2016-04-12 07:35] daniellansun opened #35 "Support method reference like Java8"
We can parse :: as .&

[code]

http://docs.oracle.com/javase/tutorial/java/javaOO/methodreferences.html

[2016-04-12 14:38] daniellansun commented on #33
Only one test case failed. I feel that I'm trying to solve Goldbach Conjecture...

[2016-04-13 13:19] daniellansun commented on #33
Fixed by: https://github.com/jespersm/groovy/commit/4ac81ae115b8e86ae374f6a9c96370780502d1b3

[2016-04-13 13:19] #33 closed, assigned to daniellansun

[2016-04-13 13:47] daniellansun opened #36 "switch-case statement must contain statements"
[code]

[2016-04-13 13:47] danielsun1106 commented on #36
I'll fix it soon.

[2016-04-13 13:53] daniellansun commented on #36
Fixed by: https://github.com/jespersm/groovy/commit/467223535e0e5025adceb2616e8cdea21e444a23

[2016-04-13 13:53] #36 closed, assigned to nobody

[2016-04-13 14:14] daniellansun commented on #18
Fixed by: https://github.com/jespersm/groovy/commit/4ac81ae115b8e86ae374f6a9c96370780502d1b3
The related test case: https://github.com/jespersm/groovy/commit/00d0957afeabb2bc085619db3de0691ee1092f98

[2016-04-13 14:14] #18 closed, assigned to nobody

[2016-04-14 00:24] daniellansun opened #37 "Improve the performance of the new parser"
@sharwell provided a useful advice:

"You can save a great deal of time on correct inputs by using a two-stage parsing strategy.

1) Attempt to parse the input using BailErrorStrategy and PredictionMode.SLL. If no exception is thrown, you know the answer is correct.
2) If a ParseCancellationException is thrown, retry the parse using the default settings (DefaultErrorStrategy and PredictionMode.LL)

[2016-04-14 12:59] daniellansun opened #38 "Support do-while control structure"
do-while is a basic control structure, but Groovy does not support it.

@blackdrag Can we support it in the new parser?

[2016-04-14 16:00] blackdrag commented on #38
We did not support it due to issues with ambiguity. Afaik "do" is a keyword in the old grammar, so it would be no breaker... I guess we can support it, if it does not cause problems

[2016-04-14 16:07] daniellansun commented on #38
OK. I'll try to support it when all the GinA2 test cases pass ;-)

[2016-04-15 17:16] daniellansun commented on #34
https://github.com/jespersm/groovy/pull/39

[2016-04-15 17:16] #34 closed, assigned to nobody

[2016-04-15 17:22] daniellansun commented on #35
The related PR: https://github.com/apache/groovy/pull/287

https://issues.apache.org/jira/browse/GROOVY-7772

[2016-04-17 16:40] daniellansun opened #40 "Closure call does not support"
[code]

[2016-04-18 00:03] daniellansun commented on #40
My stashed fix can not pass the following test case:
a b c d, {->}, {->} d e({->}, {->})

Supporting closure call add ambiguities to the current syntax...
Maybe I should add some constraints on it.

[2016-04-18 10:27] daniellansun commented on #40
I notice that the test case is related to command expression of Groovy.

@blackdrag Jochen, could you tell me the syntax of command expression? Thanks in advance.

[code]

[code]

[2016-04-18 12:32] daniellansun commented on #40
It seems that I found a useful article(http://mrhaki.blogspot.com/2011/05/groovy-goodness-command-chain.html).

[2016-04-18 15:27] blackdrag commented on #40
I would probably have said
`cmdExpressionRule: pathExpression argumentList (IDENTIFIER argumentList)* IDENTIFIER?;` If we want to cover normal method calls and command expressions, then the rule I just wrote, I guess... of course argumentList here means optional parens. In the old grammar you will see, that I made the argumentlist reading part greedy to resolve the conflict with IDENTIFIER, since

[2016-04-18 16:02] daniellansun commented on #40
Jochen, thanks for your detail reply. I think I have understood the command expressions.
BTW, I use implicitThisCallExpression rule to cover normal method calls, implicitThisCallExpression is not a good name... I'll rename it later(e.g. normalCallExpression?)

[2016-04-19 17:22] daniellansun commented on #40
Fixed by: https://github.com/jespersm/groovy/commit/2070f2e5d11f5f02c4daba4019e33d3c472f3943

[2016-04-19 17:22] #40 closed, assigned to daniellansun

[2016-04-20 03:00] daniellansun opened #41 "cmdExpressionRule does not support method call on expression"
(1 + 2).plus 3 plus 4

[2016-04-20 06:27] blackdrag commented on #41
if the first part is a path expression, it means path expressions don´t support parts being (1+2), right?

[2016-04-20 09:58] jespersm commented on #41
Hmm:
"a b" means "this.a(b)" // Command
"a b c" means "a(b).c" // Command with trailing property
"a b c d" means "a(b).c(d)" // Command inv with command inv.
"a.b c d" means "a.b(c).d" // Expression with paren-less argument and trailing property
"a.b c d e" means "a.b(c).d(e)" // Method call expression with paren-less argument followed by command call

So, as I see it, a command expression is EITH

[2016-04-20 10:43] daniellansun commented on #41
@blackdrag
Yeah, this is what I mean. And many other expressions does not support, e.g. list, map contructors

[2016-04-20 10:54] daniellansun commented on #41
@jespersm cmd expression only used in declarations initializers? I'm not sure...
@blackdrag Could you confirm it for us?

[2016-04-20 10:56] daniellansun commented on #41
@jespersm the following code is not used in declarations initializers, but it can be recognized by the old parser. so if cmd expression only being used in declarations initializers will break the compatibility..

[code]

[2016-04-20 10:59] jespersm commented on #41
I wasn't clear (in the sentence above), since I've missed an Oxford comma. I've rewritten it as bullets:
If we separate the command expression as "higher level" expression, I think it would simplify things quite a bit. Command expressions should be usable in:
- declarations initializers
- on the right hand side of assignments
- as statements

[2016-04-20 11:29] blackdrag commented on #41
I think the part with "a b" being equal to this.a(b) is misleading. It does mean that, but with an implicit this. So please see it as having a(b) only instead.

@jespersm Having command expressions only at the places you mentioned is about the old state I think. It would be nice to be able to write a command expression in paras... like (a b c d) at any place, that allows an expression.

[2016-04-20 11:32] jespersm commented on #41
@blackdrag: Yes, we'll try those places, but I'd rather ensure that the grammar can be compatible with the current Antlr 2.x version first.

[2016-04-20 16:23] daniellansun commented on #41
Fixed by: https://github.com/jespersm/groovy/commit/00c3aafee4e4b1766177d50981f722f9d2863f4f

[2016-04-20 16:23] #41 closed, assigned to daniellansun

[2016-04-20 16:39] daniellansun opened #42 "Make command expression become a real expression"
As Jochen said: "It would be nice to be able to write a command expression in paras... like (a b c d) at any place, that allows an expression."

e.g.

[code]

[2016-04-21 02:55] daniellansun opened #43 "Refactor cmdExpressionRule by referencing callExpressionRule"

[2016-04-21 12:00] jespersm commented on #42
What to you mean by this? Can you provide an example?

[2016-04-21 13:59] blackdrag commented on #42
if you have a DSL `foo bar x` and you want to know what it returns, you currently cannot simply write `println(foo bar x)` for example

[2016-04-21 14:30] daniellansun commented on #42
Jochen, command expression in paras... like (a b c d) can be passed into a method, which will be like println((a b c d)).  The outest parentheses belong to method and the inner ones belong to command expression. The extra parentheses are needed due to parenthesis-less call does not support to follow by parentheses. Maybe we can do some magic...

[2016-04-21 15:15] daniellansun commented on #42
We can make the parentheses of command expression optional.  As a side effect, it will add some ambiguities to the grammar

[2016-04-21 23:58] daniellansun opened #44 "Remove deprecated @NotNull annotations in the ASTBuilder"
http://www.antlr.org/api/Java/org/antlr/v4/runtime/misc/NotNull.html

[2016-04-22 15:54] daniellansun commented on #44
Fixed by: https://github.com/jespersm/groovy/commit/1304a9a9fd592571980b58f55c398d0f9c7a12bf

[2016-04-22 15:54] #44 closed, assigned to nobody

[2016-04-23 02:36] daniellansun commented on #43
I tried to deactive the clsoure call alternative by semantic predicate, but ANTLR4 still recognize "foo(arg1, arg2) {->} {->}" as a cmd expression and failed to create the right parse tree. I'm not sure  whether it is ANTLR4's bug?

@jespersm
Any idea about it?

[code]

[2016-04-23 08:25] daniellansun opened #45 "command expression failed to be recognized due to the ambiguities"
[code]

**expected**

[code]

**actual:**

[code]

[2016-04-23 10:56] blackdrag commented on #45
it is actually `book(meeting).room('Honolulu').between(9.am).and(12.am).to('B2')` exected. The "this" is implicit

[2016-04-23 14:09] jespersm commented on #43
I think this is going the wrong way, with too much rule duplication and semantic predicates. I'll give it a try.

[2016-04-26 15:02] daniellansun commented on #37
The new parser will hang when parsing some scripts because of SLL parsing strategy. I'm not sure whether it is a bug of antlr4.

[code]

[2016-04-26 15:17] daniellansun opened #46 "Fail to parse multi-line (g)string with some escape character"
[code]

[2016-04-27 10:19] daniellansun opened #47 "Correct the precedence of operators"
Reference: https://github.com/apache/groovy/blob/master/src/main/org/codehaus/groovy/antlr/groovy.g#L2276

[code]

[2016-04-27 12:40] jespersm commented on #47
Looks like the list I took from http://groovy-lang.org/operators.html - Should be the same list I implemented

[2016-04-27 13:32] daniellansun commented on #46
Fixed by: https://github.com/jespersm/groovy/commit/902bbb66676a22a79d2c88d49186f5322b30c56b

[2016-04-27 13:32] #46 closed, assigned to daniellansun

[2016-04-27 15:11] daniellansun commented on #47
@jespersm
The original implementation can not handle ternary expression properly.

Fixed by: https://github.com/jespersm/groovy/commit/bf01fac58c588cbe06c2b625a5e939bbf2bad98c

[2016-04-27 18:12] blackdrag commented on #47
The list might not have been updated correctly. I would suggest writing test clarifying the precedence rules for each operator, and then ensure both parsers behave equal.

[2016-04-27 23:36] daniellansun commented on #47
I see. Thanks for your suggestion.

[2016-04-27 23:36] danielsun1106 commented on #47
I see. Thanks for your suggestion.

[2016-04-28 14:55] daniellansun opened #48 "Identifier in the gstring can not be recognized properly when mixing special characters"
Both the new parser and IntelliJ IDEA 15 recognize `fºF` and `cºC` as identifer, which is not same as the old parser do.

[code]

[2016-04-28 15:25] daniellansun opened #49 "Add grails-core source code as test cases"
Grails is licensed under the terms of the Apache License, Version 2.0, so we can add its source code(3.1.8) as test cases without any risk.

[2016-04-30 15:17] daniellansun commented on #10
https://github.com/jespersm/groovy/blob/antlr4/subprojects/groovy-antlr4-grammar/src/test/resources/GroovyInAction2/allsources.txt

[2016-04-30 15:17] #10 closed, assigned to nobody

[2016-05-02 06:57] daniellansun opened #50 "Support java-like new array expression"
[code]

[2016-05-03 14:17] daniellansun commented on #37
**Thread Dump:**

[code]

**Complete Dump:**

[code]

[2016-05-03 16:32] sharwell commented on #37
@danielsun1106 Can you try using **com.tunnelvisionlabs:antlr4** instead of **org.antlr:antlr4**? Let me know if the performance is noticeably different in your particular application.

[2016-05-03 23:53] daniellansun commented on #37
@sharwell
Sam, I'll try later. Maybe I have to modify the package name manually. Thanks in advance!

[2016-05-04 12:01] daniellansun commented on #37
@sharwell  @parrt
I tried **com.tunnelvisionlabs:antlr4** just now, its SLL parsing strategy is very efficient. The performance issue of  **org.antlr:antlr4**(4.5.3) does not exist in the **com.tunnelvisionlabs:antlr4**(4.5).
Could you tell me how to workaround the issue with **org.antlr:antlr4**? Thanks.

[2016-05-04 12:18] sharwell commented on #37
@danielsun1106 The alternative package I mentioned contains a large number of optimizations which are not planned to be incorporated into the reference release. For most day-to-day users of ANTLR, these optimizations are excessively complicated and provide little real world benefit. However, on a few occasions I have seen large and/or complicated grammars unable to work at all without them. To mak

[2016-05-04 12:28] blackdrag commented on #37
So maybe this is something that should be done once the grammar is stable?

[2016-05-04 13:03] daniellansun commented on #37
@sharwell Thanks for your detailed reply! The two-stage parsing strategy may be much suitable for the new parser based on Antlr4. It's pity that we can not apply two-stage parsing strategy because of the performance issue of `org.antlr:antlr4`.

@blackdrag You're right. We can tune the performance later.

[2016-05-04 13:16] daniellansun commented on #43
@sharwell
Hi Sam,

[code]

Thanks in advance,
Daniel.Sun

[2016-05-04 13:24] daniellansun commented on #43
@sharwell
    If I remove the alternative to deactive, antlr4 can parse the input text properly. But if I use semantic predicates to deactive the alternative, antlr4 fails to parse. The question confused me for a long time...I don't know why...

[2016-05-04 17:05] parrt commented on #37
The tail call elimination is the biggie I suspect. I plan on following Sam's lead there and will introduce into antlr/antlr4 repo when it bumps up in priority for me.

[2016-05-04 22:42] sharwell commented on #43
You can't used `@init` and `@after` blocks to drive state for semantic predicates, because semantic predicates are evaluated before they are considered. Rather, you need to pass the flag as an argument to the rule.

:memo: In the following rules, the semantic predicates in `callExpressionRule` will be _automatically disabled_ (treated as true) when performing predictions everywhere except within `

[2016-05-04 22:46] sharwell commented on #43
Also note that the `@baseContext` functionality is intended to provide a better alternative to this:

[code]

The above rule can be referenced instead of `closureCallEnabled[false]`, always works for prediction, and uses the `@baseContext` action to instruct the code generator to create a `CallExpressionRuleContext` for it instead of the default `CallExpressionRule_noClosureContext`.

[2016-05-05 00:09] daniellansun commented on #43
@sharwell
Hi Sam,
    Thanks for your valuable suggestions and examples! I'll keep them in mind.
    In addition, could you tell me why I can't deactive alternatives sometimes simply by semantic predicate {false}?
    Some days ago, I tried to check whether deactivating alternative would work, so I simply replaced { isClosureCallEnabled() }?  with {false}? . As a result, antlr4 still failed to par

[2016-05-05 01:15] sharwell commented on #43
Semantic predicates are only executed on the left edge of decisions. For example, the following will fail to parse the input `aa`:

[code]

Before consuming the first `a`, the semantic predicate is ignored because it is not on the left edge. Since the input `aa` appears to work with the first and second alternative equally, it chooses the first alternative. Only after choosing the first alternativ

[2016-05-05 06:25] daniellansun commented on #43
@sharwell
Hi Sam,
Thanks for your detailed reply!
May I ask one more question. The following grammar code is modified from your example. I tried input double a separated by a white space: a a
Antlr4 reports: no viable alternative at input 'a'
Could you please tell me why the alternative of sub rule failed to be deactivated?
**FAILED(deactivate the alternative by semantic predicate)**
grammar Sp;
s

[2016-05-05 06:25] danielsun1106 commented on #43
@sharwell
Hi Sam,
Thanks for your detailed reply!
May I ask one more question. The following grammar code is modified from your example. I tried input double a separated by a white space: a a
Antlr4 reports: no viable alternative at input 'a'
Could you please tell me why the alternative of sub rule failed to be deactivated?
**FAILED(deactivate the alternative by semantic predicate)**
grammar Sp;
s

[2016-05-05 07:57] blackdrag commented on #43
frankly I would have expected a rule like this

[code]

where argumentList contains closureExpressionRule+ as alternative for each element of the list as well as selectorName, STRING and GSTRING. cmdExpressionRule is used instead of callExpressionRule, ot as alternative

[2016-05-05 15:32] daniellansun commented on #43
Jochen, I am not sure whether I fully understand your last words "cmdExpressionRule is used instead of callExpressionRule, ot as alternative", could you clarify for us?

[2016-05-05 15:37] daniellansun commented on #43
BTW, callExpressionRule should also be an expression, but the suggested version of callExpressionRule starts with expression, which is indirect resursive and not accepted by antlr4...

[2016-05-05 15:53] sharwell commented on #43
@danielsun1106 the **com.tunnelvisionlabs** build of ANTLR 4 supports indirect left recursion (I believe the 4.5 build you are using already includes this feature). It still doesn't support _hidden_ left recursion, but if your recursion is truly on the left edge of your rules then it should work.

This should work with this release:

[code]

However this still will not work, because the invocation

[2016-05-05 16:43] daniellansun commented on #43
@sharwell
Awesome! The book I read before is a bit outdated :-)
BTW, could you answer my question asked about 10 hours ago? The failed version choose wrong alternative to consume input text, and no backtrack available in the antlr4, so antlr4 will not try to find other parsing path. I am not sure whether I understand the ALL(*) parsing strategy properly...Thanks in advance.

[2016-05-05 16:59] sharwell commented on #43
ANTLR 4 only considers predicates which appear on the left edge of a decision. For example, the following rule (in isolation) will work as expected:

[code]

However, if you move the predicate so a terminal appears before it, it will be ignored:

[code]

If you encounter a case like this, it is actually detectable with ANTLR 4. One of the following will have occurred:

### A context sensitivity

I

[2016-05-05 17:41] daniellansun commented on #43
@sharwell
     Sam, as we see, the following semantic predicate`{false}?` is truely on the left edge of a decision, but antlr4 still fails to parse `a a`(double a seprated by a white space). The reason I guess antlr4 choose the first alternative of expr rule, consumed the first `a`, when it tried to consume one more `a`, the alternative of sub rule is deactived`{false}? A`, but antlr4 is already d

[2016-05-05 17:44] sharwell commented on #43
I think you have it figured out here. :smile:

The predicate is on the left edge of one decision (the main decision in the rule `sub`), but that is not the only decision in the grammar. In particular, the predicate is _not_ on the left edge of the decision in `expr`, and that is the decision which is made incorrectly as a result.

[2016-05-05 17:52] daniellansun commented on #43
@sharwell
I see. Thanks very much for your answering my so many questions which confused me for quite a long time :-)

[2016-05-05 17:54] sharwell commented on #43
No problem. If you use `@baseContext{}` or indirect left recursion functionality, please keep in mind that both are in their early stages and I'd value your feedback regarding how they work out for you. :smile:

[2016-05-05 18:02] daniellansun commented on #43
I'll try these new features during developing the new parser for Groovy programming language. They will be very useful to simplify the grammar codes. Thanks again!

[2016-05-06 08:12] blackdrag commented on #43
**"cmdExpressionRule is used instead of callExpressionRule:**
I mean there should be no rule alternatives like this:

[code]

**callExpressionRule should also be an expression, but the suggested version of callExpressionRule starts with expression, which is indirect resursive and not accepted by antlr4:**
yeah... you did know Groovy allows this one?:  `(1+1).("a"+1)() // call 2.a1()`? Or a command

[2016-05-06 10:41] daniellansun commented on #43
@blackdrag
Though I have used Groovy since 2006(Groovy 1.0 beta version), I don't know and never try to write code like the sample `(1+1).("a"+1)()`  :astonished:

[2016-05-06 11:22] jespersm commented on #43
@blackdrag: Antlr4's precedence rules **should** allow not breaking the expression rule up for this, but we need to generalize the RHS compared to what we have now. In other words "greedy or not" should follow precedence rules.

[2016-05-06 14:22] daniellansun commented on #6
As nodeMetaData is not the content to compare, so I achieve it now.
The related commit: https://github.com/jespersm/groovy/commit/ce35fbbdbff1711b8bb253b2d201715e92e609fb

[2016-05-06 14:22] #6 closed, assigned to nobody

[2016-05-06 21:14] jespersm commented on #43
I withdraw my last comment. I fear we have to explode the expression grammar to properly parse certain constructs, so that we can differentiate where in the precedence hierarchy we want to use certain parts. Example: "(int)1" is hard to differentiate from "((int)) 1" (meaning "int.class.call(1)"), since 'int' is a valid value.
We should be able to do away with some of the conditionals, then.

[2016-05-07 12:52] daniellansun commented on #43
@blackdrag
Jochen, It seem that I have understood your words a bit. cmdExpressionRule is actually a generalized version of callExpressionRule. If we use the recursive version of current callExpressionRule to implement cmdExpressionRule, maybe it will behave differrently with the old parser's version in some situations.
Could you offer us some concrete example code of cmd expression which may make

[2016-05-07 12:58] daniellansun commented on #43
@jespersm
Maybe semantic predicates can come to rescue.

[2016-06-04 07:38] daniellansun commented on #43
I tried many times to refactor the command expression, but it is not that easy to complete according Jochen's advice, which I also think is ideal though. At last, I refactored and refined command expression by the following commits:
https://github.com/jespersm/groovy/commit/637b850c5bc3233f6dc3df52c1d0a8d3fbb19474
https://github.com/jespersm/groovy/commit/46638d68e111ed7eda14e0ece920b470dbf7026c
h

[2016-06-04 08:00] daniellansun commented on #45
Fixed by https://github.com/jespersm/groovy/commit/637b850c5bc3233f6dc3df52c1d0a8d3fbb19474

[2016-06-04 08:00] #45 closed, assigned to nobody

[2016-06-04 17:08] danielsun1106 commented on #43
Refactor further: https://github.com/jespersm/groovy/commit/337350e1b5a4083ec1647796ee92708fe95ca6bc

[2016-06-05 10:48] #43 closed, assigned to nobody

[2016-06-06 11:15] jespersm commented on #48
FWIW:

º is Unicode Character 'MASCULINE ORDINAL INDICATOR' (U+00BA) which is really an identifier in Java, and Groovy should recognize this.
° is Unicode Character 'DEGREE SIGN' (U+00B0) which is not an identifier.

U+006F is plain old 'o' (LATIN SMALL LETTER O)

[2016-06-06 11:58] daniellansun commented on #48
@jespersm
It may be a bug of old parser...
@blackdrag
Could you confirm it for us?

[2016-06-06 18:46] blackdrag commented on #48
sounds like a bug to me

[2016-06-06 23:38] daniellansun commented on #48
Thanks.

[2016-06-06 23:38] #48 closed, assigned to nobody

[2016-06-08 04:48] sharwell commented on #43
@danielsun1106 The `@baseContext` action is a unique feature of the optimized fork of ANTLR 4 (the one with groupId **com.tunnelvisionlabs**). It is not available in the reference release of ANTLR.

[2016-06-08 13:06] daniellansun commented on #43
@sharwell
Thanks, I see. It's quit a pity that the great feature has not been merged to the usual ANTLR 4 we are using.

[2016-06-10 14:24] daniellansun commented on #42
Fixed by the following commits(same with https://github.com/jespersm/groovy/issues/43 ):
https://github.com/jespersm/groovy/commit/637b850c5bc3233f6dc3df52c1d0a8d3fbb19474
https://github.com/jespersm/groovy/commit/46638d68e111ed7eda14e0ece920b470dbf7026c
https://github.com/jespersm/groovy/commit/337350e1b5a4083ec1647796ee92708fe95ca6bc
https://github.com/jespersm/groovy/commit/15860938c4b7b692898d

[2016-06-10 14:24] #42 closed, assigned to nobody

[2016-06-10 14:34] daniellansun commented on #42
The related test case is here: https://github.com/jespersm/groovy/commit/7c91912fd40173bbc5c10b957675e52e5fa3b42f

[2016-06-10 14:55] daniellansun opened #53 "Support call on constants etc."
[code]

[2016-06-10 14:59] danielsun1106 commented on #53
The related test case for call on the result of method call.
[code]

[2016-06-11 09:59] daniellansun opened #54 "Support call on the result of method call and closure call"
[code]

[2016-06-11 10:03] daniellansun commented on #54
Fixed by: https://github.com/jespersm/groovy/commit/8c66057a09cc1aff1e54f77f01dca0a41e073e18

[2016-06-11 10:03] #54 closed, assigned to nobody

[2016-06-12 12:59] daniellansun opened #55 "Support call on parenthesis expression"
[code]

[2016-06-12 13:00] daniellansun commented on #55
Fixed by https://github.com/jespersm/groovy/commit/c8df3772072b4a5bc737141b7b2b6f05b6aa1603

[2016-06-12 13:00] #55 closed, assigned to nobody

[2016-06-13 08:36] jespersm commented on #55
Awesome!

[2016-06-13 08:39] jespersm commented on #53
We should be able to call on just about anything - remember that whatever we parse could be picked up by AST transformations and totally changed, really.

[2016-06-13 11:21] daniellansun commented on #53
OK.
I split "call on expression" into "call on atom expression such as constant, method call etc." and "call on parenthesis expression".
Currently the latter and call on the result of method and closure call have been supported.

[2016-06-13 16:38] daniellansun commented on #53
Fixed by: https://github.com/jespersm/groovy/commit/bbe6edbc315c1f163f740b9ccc8e3d43ec09081b

[2016-06-13 16:38] #53 closed, assigned to nobody

[2016-06-13 16:41] daniellansun opened #56 "Support call on built-in type and class name"
[code]

[2016-06-15 11:32] danielsun1106 commented on #49
The new parser can handle almost all grails-core-3.1.8 source codes except the following:

[code]

[2016-06-15 11:55] jespersm commented on #56
Note how Groovy 2.x in fact parses `(int)()` as `("int")()`, without detecting the type literal.
In fact, the behaviour is the same for `(foo)()` which is parsed as `("foo")()`

I think this is an error in Groovy 2.x. Try

[code]

That works, but the following does not:

[code]

Quirky: This mirrors how `object.(methodName)()` is parsed as `object.methodName()` where I would have expected it to wo

[2016-06-15 12:53] daniellansun commented on #37
grails-web-databinding/src/main/groovy/org/grails/web/databinding/GrailsWebDataBindingListener.groovy cost **22s**;
grails-web-databinding/src/main/groovy/grails/web/databinding/GrailsWebDataBinder.groovy cost **3s**;
grails-databinding/src/main/groovy/grails/databinding/SimpleDataBinder.groovy cost **3s**;
...

http://ci.groovy-lang.org/viewLog.html?buildId=33761&tab=testsInfo&buildTypeId=Groovy_

[2016-06-15 13:31] jespersm commented on #37
@danielsun1106 : I think (and hope) that the test in question is impacted by something outside of the test suite (such as noisy neighbors in the VM, or even clock skew).

Nothing in the parsing of that fairly short file should give us that kind of performance, and the prior tests took much shorter time.

[2016-06-15 15:15] daniellansun commented on #37
@jespersm : Unfortunately, parsing "GrailsWebDataBindingListener.groovy" really costs a lot of time. On my machine it costs about **36s**...

I extracted the code snippet as follows, parsing which costs most of the time:

[code]

[code]

[2016-06-15 16:51] daniellansun opened #57 "Verify the new parser by running all test cases of Groovy(gradlew -PuseAntlr4=true test)"

[2016-06-17 19:52] daniellansun commented on #57
@blackdrag @jespersm
I modified "**subprojects/groovy-antlr4-grammar/build.gradle**" to enable "**-Dgroovy.antlr4=true**" to make the antlr4 parser become the default parser.

[code]

Then I tried to run all test cases of Groovy by executing "gradlew -PuseAntlr4=true test", and the test result shows "**10498 tests completed, 4 failed, 26 skipped**", which is quite good for the brand new parser, bu

[2016-06-18 08:38] #49 closed, assigned to daniellansun

[2016-06-18 10:43] daniellansun commented on #57
I find I should clean the project before test... The new parser can not handle all groovy syntax currently:

[code]

[2016-06-19 05:59] daniellansun opened #59 "Add groovy source code as test cases"
In order to build groovy by the new parser, we should verify that the new parser can handle all groovy source code.

[2016-06-20 02:17] danielsun1106 commented on #37
In order to improve the whole performance of the new parser without memory leak issue, I plan to implement a new PredictionContextCache, which will be based on https://github.com/google/guava/blob/master/guava/src/com/google/common/cache/CacheBuilder.java
ps: Guava is developed by google and licensed under APL2

@blackdrag @jespersm Any thoughts about it?

[2016-06-20 03:14] daniellansun commented on #37
In order to improve the performance when parsing large numbers of files, I plan to implement a LRU cache, which will replace the default PredictionContextCache.
  The LRU cache will be based on Guava's CacheBuilder(https://github.com/google/guava/blob/master/guava/src/com/google/common/cache/CacheBuilder.java). Any thought about it? @blackdrag @jespersm

ps: Guava is developed by Google and licenc

[2016-06-20 05:15] blackdrag commented on #37
the problem is the size of the guava library with 2+ MB and their compatibility issues with other guava versions.  If you base it on their source it should be ok, since it is APL2

[2016-06-20 06:08] daniellansun commented on #37
I see. Thanks :-)

[2016-06-20 16:15] sharwell commented on #37
@danielsun1106 One of the areas of optimization in my fork of ANTLR 4 is the construction and storage of `PredictionContext` instances. This includes substantial work on both the time it takes to construct the instances as well as the memory required to store them.

[2016-06-21 02:12] daniellansun commented on #37
@sharwell
Sam, I found your optimized fork at
https://github.com/sharwell/antlr4

Can I get the latest version(merged 4.5.3 codes from the antlr/antlr4) via "com.tunnelvisionlabs:antlr4" as usual? I will give it a try :-)

Finally, Could you tell whether the optimized fork is licensed under APL2?

ps: I tried to cache PredicationContext instances via LRU cache, no memory leak but still very slow..

[2016-06-21 02:25] daniellansun commented on #37
http://mvnrepository.com/artifact/com.tunnelvisionlabs/antlr4/4.5.3

It is licensed under BSD, same with antlr/antlr4 :-)

[2016-06-21 05:34] daniellansun commented on #37
@sharwell
Sam, I find ParserATNSimulator does not support manage decisionToDFA and sharedContextCache by ourselves. I'm afraid they will keep growing and memory leak happen again. Could you confirm it for us?

https://github.com/sharwell/antlr4/blob/optimized/runtime/Java/src/org/antlr/v4/runtime/atn/ParserATNSimulator.java

[2016-06-21 06:25] sharwell commented on #37
@danielsun1106 The lexer and parser each store a DFA. You can clear the DFA on either to release the memory used by it, but doing so means the next time you parse a file it will have to rebuild all required sections of the DFA it needs for parsing. Typically the lexer DFA remains very small relative to the parser DFA, so in practice I've only ever needed to clear the latter.

[code]

[2016-06-21 07:01] daniellansun commented on #37
@sharwell
I see, thanks. How about the sharedContextCache? It is another cause of memory leak...

[2016-06-21 12:34] sharwell commented on #37
@danielsun1106 I don't think the `sharedContextCache` field exists in my fork. The `ATN.contextCache` field is cleared along with the DFA in my `clearDFA` method.

:bulb: The memory characteristics of the two forks are dramatically different. Make sure to not reuse results from analyzing the reference release when looking for ways to improve the optimized release. That said, if you do find ways to

[2016-06-21 15:53] daniellansun commented on #37
That's great! I'll try later :-)
ps: antlr4-gradle-plugin depends on `org.antlr:antlr4:4.2.2` by default, so I have to update the plugin first(https://github.com/danielsun1106/antlr4-gradle-plugin).

[code]

[2016-06-22 00:15] daniellansun commented on #37
@sharwell
  We have to synchronize the accessing of clearDFA and parsing code because the DFA array is shared and clearDFA is not thread safe. The synchronization will impact the performance because parsing is time-consuming, if parsing does not complete, other clearDFA and parsing have to wait...

  Because we have to clearDFA before parsing each time, how about making each parser has its own DFA

[2016-06-22 02:18] sharwell commented on #37
The DFA cache is a concurrent data structure that is designed and intended to be used in concurrent parsing scenarios without synchronization. The fast path (the case where DFA states already exist for the current input) does not have any synchronization at all. Assigning separate DFA instances to different parsers is a substantial waste of computing resources (the DFA will be recomputed and the m

[2016-06-22 03:51] daniellansun commented on #37
@sharwell
I'll try not to clearDFA according to your suggestion and hope memory leak will not occur with the optimized antlr4(https://github.com/antlr/antlr4/issues/499)
Thanks.

[2016-06-22 12:30] sharwell commented on #37
@danielsun1106 I'm not sure about the reference release, but the optimized version only caches `PredictionContext` instances which actually appear in a `DFAState` (thus implying means the parser has seen actual inputs which required that state). Considering that cache hits and lookup speed are so vital for prediction performance that standard hashing algorithms were causing major problems (antlr/a

[2016-06-22 12:37] daniellansun commented on #37
@sharwell
If I do not clearDFA, the jvm heap is used up and jvm hangs when executing 1400+ test cases(2271 test cases in total).

Then I have to clearDFA before parsing, completing all test cases costs about 14 minutes on my machine(Note antlr/antlr4 costs 11~12 minutes).

At last I try to use the two-stage parsing strategy, optimized antlr4 costs 11~12 minutes(almost same with antlr/antlr4).

[2016-06-22 12:39] jespersm commented on #37
We need to solve both issues.
Performance must be first priority, so that we can reduce the worst-case measurements we're seeing now. I assume that the improved prediction context is part of the solution.

However, for long-running instances such as application servers, an unbounded cache is not very good. If we can reset or trim this cache at (configurable) intervals, we can at least work around

[2016-06-22 17:47] sharwell commented on #37
@danielsun1106 Is there a branch where I can check out and run those tests easily? Sometimes there are small non-functional changes I can make to the grammar or use site to make a big perf difference.

[2016-06-22 17:55] sharwell commented on #37
@jespersm Interval-based clearing of the cache is certainly one approach. You can do it safely like this:

[code]

In the above approach, `clearDFA()` is thread-safe, and works by delaying the actual reclamation of memory until all currently running parse operations complete.

[2016-06-22 19:24] daniellansun commented on #37
@sharwell
Sam, "interval-based clearing of the cache" seems what I have been looking for :-)
I'll try to create a performance tuning branch in my repository later.
Thanks for your help!

[2016-06-22 20:35] sharwell commented on #37
@danielsun1106 Keep in mind that I don't need the branch clean, I just need it to work. If I can get it running on a reasonably sized test scenario I can typically make a big improvement in not much time. :smile:

[2016-06-23 09:43] jespersm commented on #37
@sharwell To run the tests, you need to fetch https://github.com/jespersm/groovy and checkout the antlr4   branch, and run `gradle -PuseAntlr4=true test`. That executes _a lot of_ parses.

[2016-06-23 09:58] daniellansun commented on #37
@sharwell @jespersm
I plan to create a new repository to focus on tuning antlr4 performance(no need to build Groovy, which is very time-consuming).
The code using **the optimized antlr4** is stashed on my local machine and will be committed to the new repository later.

[2016-06-23 10:20] daniellansun commented on #37
@sharwell
If possible, how about caching DFA and predication context in a LRU cache(its size can be fixed)? The LRU cache can base on Google's ConcurrentLinkedHashMap(https://github.com/ben-manes/concurrentlinkedhashmap/)

[2016-06-23 15:14] daniellansun commented on #37
@sharwell
The new repository is here: https://github.com/danielsun1106/groovy-antlr4-grammar-optimized, you can clone it and run test cases via

[code]

The test result report can be found at `build/reports/tests/`

If you want to run test cases again, executing `gradlew clean` to clean the project is strongly recommended.
If you just want to generate code with antlr4, execute `gradlew antlr4`

**

[2016-09-04 12:32] daniellansun commented on #37
In order to improve the whole performance and maintainability, I am rewriting the parser, which is based on the Java grammar updated by @sharwell  (https://github.com/antlr/grammars-v4/blob/master/java/Java.g4).

The following performance issue does not exist in the new parser( https://github.com/danielsun1106/groovy-parser/commit/9950cd6d46838548161d51d626240a4cbe537d6b )

[code]

[2019-05-06 05:03] #35 closed, assigned to nobody

[2019-05-06 05:04] #59 closed, assigned to nobody

[2019-05-06 05:05] #57 closed, assigned to nobody

[2019-05-06 05:05] #56 closed, assigned to nobody

[2019-05-06 05:05] #50 closed, assigned to nobody

[2019-05-06 05:06] #38 closed, assigned to daniellansun

[2019-05-06 05:06] #47 closed, assigned to daniellansun

[2019-05-06 05:08] #20 closed, assigned to daniellansun

[2019-05-06 05:10] #29 closed, assigned to nobody

[2019-05-06 05:42] #37 closed, assigned to daniellansun